body{
    background-image: url("Planet Ky1816 (Lake).jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.code{
    color: white;
    background:rgba(0, 0, 0,0.5)
}

h3{
    font-family: 'Orbitron', sans-serif;
    color:chartreuse;
   
}

.p{
    font-size: large;
    font-family: 'Orbitron', sans-serif;
    color: black;
    
    

}

.o1{
    font-size: medium;
    font-family: 'Orbitron', sans-serif;
    color:black;
   
}
.o2{
    font-size: medium;
    font-family: 'Orbitron', sans-serif;
    color: black;
   

}
.o3{
    font-size: medium;
    font-family: 'Orbitron', sans-serif;
    color: black;
  
}

.o4{
    font-size: medium;
    font-family: 'Orbitron', sans-serif;
    color: black;
    
}

.answer{
    font-size: x-large;
    font-family: 'Orbitron', sans-serif;
    color: black;
    
}

.a1 a{
    background:rgba(0, 0, 0,0.5);
    color:black;
    border: 3px solid chartreuse;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    font-family: 'Orbitron', sans-serif;
}

.a1 a:hover{
    color:chartreuse;
    text-decoration: none;
}

.a1 a:active{
    color:pink;
    text-decoration: none;
}

.a1 a:visited{
    text-decoration: none;
}

.a2 a{
    background:rgba(0, 0, 0,0.5);
    color:black;
    border: 3px solid chartreuse;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    font-family: 'Orbitron', sans-serif;
}

.a2 a:hover{
    color:chartreuse;
    text-decoration: none;
}

.a2 a:active{
    color:pink;
    text-decoration: none;
}

.a2 a:visited{
    text-decoration: none;
}

.a3 a{
    background:rgba(0, 0, 0,0.5);
    color:black;
    border: 3px solid chartreuse;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    font-family: 'Orbitron', sans-serif;
}

.a3 a:hover{
    color:chartreuse;
    text-decoration: none;
}

.a3 a:active{
    color:pink;
    text-decoration: none;
}

.a3 a:visited{
    text-decoration: none;
}

.a4 a{
    background:rgba(0, 0, 0,0.5);
    color:black;
    border: 3px solid chartreuse;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    font-family: 'Orbitron', sans-serif;
}

.a4 a:hover{
    color:chartreuse;
    text-decoration: none;
}

.a4 a:active{
    color:pink;
    text-decoration: none;
}

.a4 a:visited{
    text-decoration: none;
}